<!doctype html>
<html>
<head>
  <title>RemindYou Private Policy</title>
</head>
<body>
  <h1>RemindYou Private Policy - currently in internal testing phase</h1>
  <h2>Policy</h2>
    <p>{{ text_to_write }}</p>
</body>
</html>